<!-- Header
============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standrd-logo" data-dark-logo="/images/logo-dark.png"><img src="/imgs/logo.png" alt="Michael J. McVeigh"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="dark">

        <ul>
          <li class="current"><a href="/"><div>Home</div></a></li>
          <li><a href="/about"><div>About</div></a>
          <li><a href="/contact"><div>Contact</div></a>
        </ul>


      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
