{{>head}}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{>nav}}

		<!-- Content
		============================================= -->
		<section id="content">

      <h1 style="margin: 25vh 0 0 150px">Thanks for your message, I'll be in touch.</h1>


    </section>
    {{>footer}}

  </div><!-- #wrapper end -->


  <!-- External JavaScripts
  ============================================= -->
<script type="text/javascript"src="/build/vendor.min.js"></script>

</body>
</html>
