<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix" style>

		<!-- Header
		============================================= -->
		{{>nav }}

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Postcontent
      ============================================= -->
      <div class="postcontent nobottommargin">

        <h3>Create Project</h3>

        <div>

          <div class="contact-form-result"></div>

          <form class="nobottommargin" id="template-contactform" name=
					"template-contactform" action="api/project" method="post">

            <div class="form-process"></div>

            <div class="col_one_third">
              <label for="name">Project Name <small>*</small></label>
              <input type="text" id="name" name="name" value="" class="sm-form-control required" />
            </div>

            <div class="col_one_third">
              <label for="email">image <small>*</small></label>
              <input type="text" id="temail" name="image" value="" class="required sm-form-control" />
            </div>

            <div class="clear"></div>

            <div class="col_two_third">
              <label for="subject">tools <small>*</small></label>
              <input type="text" id="subject" name="tools" value="" class="required sm-form-control" />
            </div>

            <div class="clear"></div>
						<div class="col_full">
							<label for="message">Live Link <small>*</small></label>
							<input type="text" class="sm-form-control" id="message" name="liveLink" rows="6" cols="30"></textarea>
						</div>
						<div class="col_full">
							<label for="message">Code Link <small>*</small></label>
							<input type="text" class="required sm-form-control" id="message" name="codeLink" rows="6" cols="30"></textarea>
						</div>
						<div class="col_full">
              <label for="message">Short description <small>*</small></label>
              <input type="text" class="required sm-form-control" id="message" name="shortDescription" rows="6" cols="30"></textarea>
            </div>
            <div class="col_full">
              <label for="message">Description <small>*</small></label>
              <textarea class="required sm-form-control" id="message" name="description" rows="6" cols="30"></textarea>
            </div>

            <div class="col_full">
              <button class="button nomargin custom-page-banner" type="submit"value="submit">Create Project</button>
            </div>

          </form>

        </div>

      </div><!-- .postcontent end -->
    </div>

  </div>

</section><!-- #content end -->
<!-- Footer
============================================= -->
{{>footer}}
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript"src="/build/vendor.min.js"></script>

</body>
</html>
