<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{{>head}}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{>nav}}

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Portfolio Single Gallery
      ============================================= -->
      <div class="col_full portfolio-single-image">
        <div class="fslider" data-arrows="true" data-animation="slide">
          <div class="flexslider">
            <div class="slider-wrap">
              <div class="slide"><a href="#"><img src="/imgs/projects/jek.png" alt=""></a></div>
              <div class="slide"><a href="#"><img src="images/portfolio/single/full/7.jpg" alt=""></a></div>
              <div class="slide"><a href="#"><img src="images/portfolio/single/full/10.jpg" alt=""></a></div>
            </div>
          </div>
        </div>
      </div><!-- .portfolio-single-image end -->

      <div class="col_one_third nobottommargin">

        <!-- Portfolio Single - Meta
        ============================================= -->
        <div class="card events-meta">
          <div class="card-body">
            <ul class="portfolio-meta nobottommargin">
              <li><span><i class="icon-user"></i>Created by:</span> Michael McVeigh</li>
              <li><span><i class="icon-calendar3"></i>Completed on:</span> 17th March 2018</li>
              <li><span><i class="icon-lightbulb"></i>Skills:</span> Node / MongoDb </li>
              <li><span><i class="icon-link"></i>Client:</span> Joseph Krause</li>
            </ul>
          </div>
        </div>
        <!-- Portfolio Single - Meta End -->

      </div>

      <!-- Portfolio Single Content
      ============================================= -->
      <div class="col_two_third portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <div class="fancy-title title-dotted-border">
          <h2>Project Info:</h2>
        </div>
        <div class="col_half nobottommargin">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, labore deserunt ex cupiditate est blanditiis dignissimos nesciunt doloremque laboriosam ullam necessitatibus voluptatum tempora itaque quia porro voluptates quo excepturi veritatis!</p>
        </div>
        <div class="col_half col_last nobottommargin">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, sed.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, soluta explicabo sunt aliquam officiis autem.</p>
        </div>
        <!-- Portfolio Single - Description End -->
      </div><!-- .portfolio-single-content end -->
      <div class="clear"></div>
      <div class="divider divider-center"><i class="icon-circle"></i></div>
    </div>
  </div>

</section><!-- #content end -->
{{>footer}}

</div><!-- #wrapper end -->


<!-- External JavaScripts
============================================= -->
<script type="text/javascript"src="/build/vendor.min.js"></script>

</body>
</html>
