{{>head}}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{>nav}}

		<!-- Content
		============================================= -->
		<section id="content">

      <h1 style="margin: 50px;">{{ message }}</h1>
      <h2>{{ error.status }}</h2>
      <pre>{{ error.stack }}</pre>

    </section>
    {{>footer}}

  </div><!-- #wrapper end -->


  <!-- External JavaScripts
  ============================================= -->
  <script src="/js/jquery.js"></script>
  <script src="/js/plugins.js"></script>

  <!-- Footer Scripts
  ============================================= -->
  <script src="/js/functions.js"></script>

</body>
</html>
