{{>head}}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{>nav}}

		<!-- Content
		============================================= -->
		<section id="content">

      <h1 style="margin: 50px;">{{ message }}</h1>
      <h2>{{ error.status }}</h2>
      <pre>{{ error.stack }}</pre>

    </section>
    {{>footer}}

  </div><!-- #wrapper end -->


  <!-- External JavaScripts
  ============================================= -->
<script type="text/javascript"src="/build/vendor.min.js"></script>
</body>
</html>
