<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{{>head}}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{>nav}}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap" style="padding: 0">

				<div class="row clearfix common-height">

					<div class="col-lg-6 center col-padding" style="background: url('/imgs/main.jpg') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
					</div>

					<div class="col-lg-6 center col-padding" style="background-color: #F5F5F5;">
						<div>
							<div class="heading-block nobottomborder nobottommargin">
								<h3>Welcome to my Portfolio</h3>
								<img class="profile-pic" height="150px" src="/imgs/profile.jpg" />
							</div>

							<div class="center bottommargin" style="height: 500px">

								<p class="lead">
									Greetings! My name is Michael McVeigh and I am a web developer based in Philadelphia, PA.
									I primarily work with Node, React, and mongoDB, but also dabble in PHP, Angular, mySQL, and python.
								</p>
								<p class="lead">
									When I'm not coding, I enjoy learning new frameworks and UX principles, playing music with friends, and solving crossword puzzles.
								</p>
							</div>


						</div>
					</div>

				</div>
        <!-- eventually make a custom class here -->
				<div class="section notopmargin nobottommargin" style="background: #fff;border-top:1px solid #ddd">
					<div class="container clearfix">
						<div class="heading-block center nomargin">
							<h3>Projects</h3>
						</div>
					</div>
				</div>

				<div class="container clearfix">
					<div class="row">
						{{#projects}}
							<div class="col-lg-3 col-md-6 bottommargin">
								<div class="ipost clearfix">
									<div class="entry-image">
										<a href="#"><img class="image_fade" src="/imgs/projects/{{image}}" alt="Image"></a>
									</div>
									<div class="entry-title">
										<h3><a href="/project/jekart">{{name}}</a></h3>
									</div>
									<ul class="entry-meta clearfix">
										{{#tools}}
										<li></i>{{.}}</li>
										{{/tools}}
									</ul>
									<div class="entry-content">
										<p>{{description}}</p>
									</div>
								</div>
							</div>
						{{/projects}}

					</div>
				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}

	</div><!-- #wrapper end -->


	<!-- External JavaScripts
	============================================= -->
<script type="text/javascript"src="/build/vendor.min.js"></script>

</body>
</html>
